@media (max-width:576px) {
    .container{
        width: 100%;
    }
    .help{
        display: none;
    }
}
/* ==================================================================== */
@media (min-width:576px) {
    .container{
        max-width: 560px;
    }
     .help{
        display: block;
    }
}
/* ==================================================================== */
@media (min-width:768px) {
    .container{
        max-width: 750px;
    }
}
/* ==================================================================== */
@media (min-width:992px) {
    .container{
        max-width: 950px;
    }
}
/* ==================================================================== */
@media (min-width:1200px) {
    .container{
        max-width: 1140px;
    }
}
/* ==================================================================== */
@media (min-width:1400px) {
    .container{
        max-width: 1350px;
    }
}